{% extends "_layouts/base.html" %}

{% block page_title %}Dashboard{% endblock %}
{% block page_class %}dashboard{% endblock %}

{% block content %}
<script src="{{ STATIC_URL }}/js/raphael.2.1.0.min.js"></script>
<script src="{{ STATIC_URL }}/js/justgage.1.0.1.min.js"></script>
{% include "navbar.html" %}

<script>
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
        }
    }
});

function update_light(element, pk) {
   var l = Ladda.create(element);
   var is_on = $(element).val() === 'true';
   l.start();
   $.ajax({
      type: "PATCH",
      url: "/api/light/"+pk+"/", 
      data: {
         'is_on' : !is_on,
      }
   }).done(function(response){
      if(response.is_on) {
         $(element).removeClass('btn-danger');
         $(element).addClass('btn-success');
         $(element).val('true');
      } else {
         $(element).removeClass('btn-success');
         $(element).addClass('btn-danger');
         $(element).val('false');
      }
   })
   .always(function() { l.stop(); });
   return false;
}
</script>

<div class="container">
{% for home in homes %}
   <div id="home-container" class="row">
   <h2>{{ home.name }}</h2>
   <p>Thermostats: 
   {% for value in thermostats.values %}
      {% if value.0.home == home %}
         <div id="gauge{{ value.0.pk }}" class="200x160px"></div>
         <script>
            var g = new JustGage({
            id: "gauge{{ value.0.pk }}",
            value: {{ value.0.current_temp }},
            min: 20,
            max: 120,
            title: "Current Temperature"
            });
         </script>
      {% endif %}
   {% endfor %} <!-- thermostats -->
   </p>
   {% for room in rooms.1 %}
   <div id="room-container">
      <p>Room: {{ room.name }}</p>
      <p>Lights: 
      {% for values in lights.values %}
         {% for light in values %}
            {% if light.room == room %}
               {% if light.is_on %}
               <a href="javascript:void(0)"><button class="btn btn-success ladda-button" id="button_light_{{ light.pk }}" value="true" data-style="zoom-in"><span class="ladda-label">{{ light.name }}</span></button></a>
               <script>
               $(function() {
                  $('#button_light_{{ light.pk }}').click(function(e){
                     e.preventDefault();
                     update_light(this, {{ light.pk }})
                  });
               });
               </script>
               {% else %}
               <a href="javascript:void(0)"><button class="btn btn-danger ladda-button" id="button_light_{{ light.pk }}" value="false" data-style="zoom-in"><span class="ladda-label">{{ light.name }}</span></button></a>
               <script>
               $(function() {
                  $('#button_light_{{ light.pk }}').click(function(e){
                     e.preventDefault();
                     update_light(this, {{ light.pk }})
                  });
               });
               </script>
               {% endif %} <!-- if light.is_on -->
            {% endif %} <!-- if light.room == room -->
         {% endfor %} <!-- lights -->
      {% endfor %} <!-- values -->
      </p>
      <p>Doors: 
      {% for values in doors.values %}
         {% for door in values %}
            {% if door.room == room %}
               {{ door.name }}
            {% endif %} <!-- if door.room == room -->
         {% endfor %} <!-- doors -->
      {% endfor %} <!-- doors -->
      </p>
      <p>Refrigerators: 
      {% for value in refrigerators.values %}
         {% if value.0.room == room %}
            {{ value }}
         {% endif %}
      {% endfor %} <!-- refrigerators -->
      </p>
   </div> <!-- room container -->
   {% endfor %} <!-- rooms -->
</div> <!-- home-container -->
{% endfor %} <!-- homes -->
</div>
{% endblock %}